<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.petFinder.mapper.AdopTempMapper">
	
	
	<insert id="insertBoard">
		<![CDATA[
			INSERT  INTO board_com
			(
				BOARD_ID,
				BOARD_NUM,
				BOARD_TYPE_ID,
				MEMBER_ID,
				MEMBER_NICKNAME,
				BOARD_TITLE,
				BOARD_CONTENT,
				BOARD_REPORT_COUNT,
				BOARD_READ_COUNT,
				BOARD_GOOD,
				BOARD_NOT_GOOD,
				BOARD_REG_DATE
			)VALUES (
				#{boardId},
				#{boardNum},
				#{boardTypeId},
				#{memberId},
				#{memberNickName},
				#{boardTitle},
				#{boardContent},
				#{boardReportCount},
				#{boardReadCount},
				#{boardgood},
				#{boardNotgood},
				#{boardRegDate}
				)

		]]>
	
	</insert>
	
	<select id="selectNextNumber" resultType="int">
		<![CDATA[
			SELECT IFNULL(MAX(BOARD_NUM), 0)+1 AS NUM 
			FROM BOARD_COM
			WHERE BOARD_TYPE_ID = "ADOP"
		]]>
	
	</select>
	
	<select id="selectBoards" resultType="ComBoardVO">
		<![CDATA[
			SELECT *
			FROM BOARD_COM
			WHERE BOARD_TYPE_ID = "ADOP"
			ORDER BY BOARD_NUM DESC
		]]>
	</select>
	
	<delete id="deleteAll">
		<![CDATA[
			DELETE FROM BOARD_COM
		]]>
	</delete>
	
	<select id="selectTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM BOARD_COM
			WHERE BOARD_TYPE_ID = "ADOP"
		]]>
	</select>
	
	<select id="selectBoardsWithPaging" resultType="ComBoardVO">
		<![CDATA[
			SELECT *
			FROM BOARD_COM
			WHERE BOARD_TYPE_ID = "ADOP"
			ORDER BY BOARD_NUM DESC
			LIMIT #{startRow}, #{amount}
		]]>	
	</select>
	
	<select id="selectBoard" resultType="ComBoardVO">
		<![CDATA[
			SELECT *
			FROM BOARD_COM
			WHERE BOARD_TYPE_ID = "ADOP"
			And BOARD_ID= #{boardId}
		]]>	
	</select>
	
	<update id="updateBoardReadCount" >
		<![CDATA[
			UPDATE BOARD_COM
			SET BOARD_READ_COUNT = BOARD_READ_COUNT + 1
			WHERE BOARD_TYPE_ID = "ADOP"
			And BOARD_ID= #{boardId}
		]]>	
	</update>
	
</mapper>