<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.petFinder.mapper.CommunityMapper">

	<!-- 게시글 번호 생성 -->
	<select id="selectBoardNumber" resultType="int">
		<![CDATA[
		SELECT IFNULL(MAX(BOARD_NUM), 0)+1 AS NUM 
		FROM BOARD_COM
		WHERE BOARD_TYPE_ID = "COMM"
		]]>	
	</select>
	
	<!-- 게시글 전체 리스트 -->
	<select id="selectBoardList" resultType="ComBoardVO">
		<![CDATA[
		SELECT *
		FROM BOARD_COM
		WHERE BOARD_TYPE_ID = "COMM"
		ORDER BY BOARD_NUM DESC
		]]>	
	</select>
	
	<!-- 글쓰기 -->
	<insert id="insertBoard">
		<![CDATA[
			INSERT INTO BOARD_COM (
				BOARD_ID,
				BOARD_NUM,
				BOARD_TYPE_ID,
				MEMBER_ID,
				MEMBER_NICKNAME,
				BOARD_TITLE,
				BOARD_CONTENT,
				BOARD_REPORT_COUNT,
				BOARD_READ_COUNT,
				BOARD_GOOD,
				BOARD_NOT_GOOD,
				BOARD_REG_DATE
			)
			VALUES(
				#{boardId},
				#{boardNum},
				#{boardTypeId},
				#{memberId},
				#{memberNickName},
				#{boardTitle},
				#{boardContent},
				#{boardReadCount},
				#{boardReportCount},
				#{boardgood},
				#{boardNotgood},
				#{boardRegDate}
			)
		]]>
	</insert>
	
	<!-- 게시글 한개 가져오기 -->
	<select id="selectBoardContent" resultType="ComBoardVO">
		<![CDATA[
		SELECT *
		FROM BOARD_COM
		WHERE BOARD_TYPE_ID = "COMM"
			AND BOARD_ID = #{boardId}
		]]>	
	</select>	


</mapper>