<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petFinder.mapper.MemberMapper">

	<resultMap type="PetVO" id="petVO">
		<result column="PET_REGISTER_NUMBER" 	property="petRegisterNumber"/>
		<result column="MEMBER_ID" 				property="memberId"/>
		<result column="PET_NAME" 				property="petName"/>
		<result column="PET_KIND" 				property="petKind"/>
		<result column="PET_DETAIL_KIND" 		property="petDetailKind"/>
		<result column="PET_BIRTHDAY" 			property="petBirthday"/>
		<result column="PET_GENDER" 			property="petGender"/>
		<result column="PET_SIZE" 				property="petSize"/>
		<result column="PET_COLOR" 				property="petColor"/>
		<result column="PET_COATlENGTH" 		property="petCoatLength"/>
	</resultMap>
	
	<resultMap type="MemberProfileVO" id="memberProfileVO">
		<result column="PROPIC_UUID" 			property="uuid"/>
		<result column="MEMBER_ID" 				property="memberId"/>
		<result column="PROPIC_UPLOAD_PATH" 	property="uploadpath"/>
		<result column="PROPIC_FILENAME" 		property="filename"/>
	</resultMap>
	
	<resultMap type="MemberVO" id="MemberVO">
		<result column="MEMBER_ID"				property="memberId"/>
		<result column="MEMBER_PASSWORD" 		property="memberPassword"/>
		<result column="MEMBER_NICKNAME" 		property="memberNickName"/>
		<result column="MEMBER_NAME" 			property="memberName"/>
		<result column="MEMBER_GENDER" 			property="memberGender"/>
		<result column="MEMBER_BIRTHDAY" 		property="memberBirthday"/>
		<result column="MEMBER_PHONENUMBER" 	property="memberPhoneNumber"/>
		<result column="MEMBER_EMAIL" 			property="memberEmail"/>
		<result column="MEMBER_WARING" 			property="memberWaring"/>
		<result column="MEMBER_NOTIC" 			property="memberNotice"/>
		<result column="MEMBER_PET_YN" 			property="memberPetYN"/>
		
		<collection property="petVO" resultMap="petVO"/>
		<collection property="memberProfileVO" resultMap="memberProfileVO"/>
	</resultMap>


	<select id = "selectMemberById" resultMap = "MemberVO">
		<![CDATA[
			SELECT 
				TP.PET_REGISTER_NUMBER,
				TP.MEMBER_ID,
				TP.PET_NAME,
			    TP.PET_KIND,
				TP.PET_DETAIL_KIND,
				TP.PET_BIRTHDAY,
				TP.PET_GENDER,
				TP.PET_SIZE,
				TP.PET_COLOR,
				TP.PET_COATlENGTH,
				TM.MEMBER_ID, 
				TM.MEMBER_PASSWORD, 
				TM.MEMBER_NICKNAME,
				TM.MEMBER_NAME,
				TM.MEMBER_GENDER,
				TM.MEMBER_BIRTHDAY,
				TM.MEMBER_PHONENUMBER,
				TM.MEMBER_EMAIL,
				TM.MEMBER_WARING,
				TM.MEMBER_NOTIC,
				TM.MEMBER_PET_YN,
                PIC.PROPIC_UUID,
                PIC.MEMBER_ID,
                PIC.PROPIC_UPLOAD_PATH,
                PIC.PROPIC_FILENAME
			FROM 
				MEMBER TM
			LEFT OUTER JOIN 
				PET TP
			ON TM.MEMBER_ID = TP.MEMBER_ID
            LEFT OUTER JOIN 
            PROPIC PIC
            ON TM.MEMBER_ID = PIC.MEMBER_ID
			WHERE	
				TM.MEMBER_ID = #{memberId}
		]]>
	</select>
	
	<select id = "selectId" resultMap = "MemberVO">
		<![CDATA[
			SELECT 
				MEMBER_ID
			FROM 
				MEMBER
			WHERE 
				MEMBER_ID = #{memberId}
		]]>
	</select>

	<insert id="insertMember">
		<![CDATA[
			INSERT INTO MEMBER (
				MEMBER_ID, 
				MEMBER_PASSWORD, 
				MEMBER_NICKNAME,
				MEMBER_NAME,
				MEMBER_GENDER,
				MEMBER_BIRTHDAY,
				MEMBER_PHONENUMBER,
				MEMBER_EMAIL,
				MEMBER_WARING,
				MEMBER_NOTIC,
				MEMBER_PET_YN
			)
			VALUES(
				#{memberId},
				#{memberPassword},
				#{memberNickName},
				#{memberName},
				#{memberGender},
				#{memberBirthday},
				#{memberPhoneNumber},
				#{memberEmail},
				#{memberWaring},
				#{memberNotice},
				#{memberPetYN}
			)
		]]>
	</insert>
	
	<update id="updateMemberById">
		<![CDATA[
			UPDATE MEMBER 
			SET 
				MEMBER_NAME			= #{memberName},
				MEMBER_GENDER		= #{memberGender},
				MEMBER_BIRTHDAY		= #{memberBirthday},
				MEMBER_PHONENUMBER	= #{memberPhoneNumber},
				MEMBER_EMAIL		= #{memberEmail},
				MEMBER_WARING		= #{memberWaring},
				MEMBER_NOTIC		= #{memberNotice},
				MEMBER_PET_YN		= #{memberPetYN}
				
			WHERE MEMBER_ID = #{memberId};
		]]>
	</update>
	
	<update id="updateMemberByNic">
		<![CDATA[
			UPDATE MEMBER 
			SET 
				MEMBER_NICKNAME = #{memberNickName}
				
			WHERE MEMBER_ID = #{memberId};
		]]>
	</update>

	<update id="updateMemberByPasswd">
		<![CDATA[
			UPDATE MEMBER
			SET 
				MEMBER_PASSWORD = #{memberPassword}
			WHERE MEMBER_ID = #{memberId};
		]]>
	</update>	
	
	<delete id="deleteMemberById">
		<![CDATA[
			DELETE 
			FROM MEMBER 
			WHERE MEMBER_ID = #{memberId};
		]]>
	</delete>
	
</mapper>