<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="com.petFinder.mapper.PetFindMapper">

	<resultMap type="AttachVO" id="attachVO">
		<result column="ATTACH_UUID"			property="uuid"/>
		<result column="ATTACH_UPLOAD_PATH" 	property="uploadpath"/>
		<result column="ATTACH_NAME" 			property="filename"/>
		<result column="ATTACH_TYPE" 			property="filetype"/>
		<result column="REPORT_ID" 				property="reportId"/>
	</resultMap>

	<resultMap type="PetVO" id="petVO">
		<result column="REPORT_ID"				property="reportId"/>
		<result column="PET_REGISTER_NUMBER" 	property="petRegisterNumber"/>
		<result column="MEMBER_ID" 				property="memberId"/>
		<result column="SIDO" 					property="sido"/>
		<result column="SIGUNGU" 				property="sigungu"/>
		<result column="BNAME" 					property="bname"/>
		<result column="ADDRESS" 				property="address"/>
		<result column="PET_NAME" 				property="petName"/>
		<result column="PET_KIND" 				property="petKind"/>
		<result column="PET_DETAIL_KIND" 		property="petDetailKind"/>
		<result column="PET_GENDER" 			property="petGender"/>
		<result column="PET_SIZE" 				property="petSize"/>
		<result column="PET_COLOR" 				property="petColor"/>
		<result column="PET_COATlENGTH" 		property="petCoatLength"/>
		<result column="PET_CHARACTER" 			property="petCharacter"/>
		<result column="PET_FIND_DATE" 			property="findPetDate"/>
		<result column="PET_LOST_DATE" 			property="lostPetDate"/>
		
		
		
		<collection property="attachList" resultMap="attachVO"/>
	</resultMap>
	
	<resultMap type="ReportBoardVO" id="ReportBoardVO">
		<result column="REPORT_ID"					property="reportId"/>
		<result column="BOARD_NUM" 					property="boardNum"/>
		<result column="BOARD_REPORT_TYPE" 			property="boardReportType"/>
		<result column="MEMBER_ID" 					property="memberId"/>
		<result column="MEMBER_NICKNAME" 			property="memberNickName"/>
		<result column="BOARD_REPORT_TITLE" 		property="boardTitle"/>
		<result column="BOARD_REPORT_READCOUNT" 	property="boardReadCount"/>
		<result column="BOARD_REPORT_READ_COUNT" 	property="boardReportCount"/>
		<result column="BOARD_REPORT_GOOD" 			property="boardgood"/>
		<result column="BOARD_REPORT_NOT_GOOD" 		property="boardNotgood"/>
		<result column="BOARD_REPORT_REG_DATE" 		property="boardRegDate"/>
		
		<collection property="petVO" resultMap="petVO"/>
	</resultMap>

	<select id="selectBoardNumber" resultType="int">
		<![CDATA[
   			SELECT IFNULL(MAX(BOARD_NUM), 0)+1 AS NUM 
			FROM BOARD_REPORT 
			WHERE BOARD_REPORT_TYPE = #{boardReportType};
		]]>	
	</select>

	<select id="selectAllFindReport" resultMap="ReportBoardVO">
		<![CDATA[
			SELECT TM.*
			FROM
			(SELECT 
				TP.REPORT_ID, 
				TP.MEMBER_ID, 
				TP.SIDO,
				TP.SIGUNGU,
				TP.BNAME,
				TP.ADDRESS,
                (SELECT STR FROM TYPE_STR WHERE TYPE_M = 'KIND' AND TYPE_D = TP.PET_KIND) AS PET_KIND,
				(SELECT STR FROM TYPE_STR WHERE TYPE_D = TP.PET_DETAIL_KIND) AS PET_DETAIL_KIND,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'GENDER' AND TYPE_D = TP.PET_GENDER) AS PET_GENDER,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'SIZE' AND TYPE_D = TP.PET_SIZE) AS PET_SIZE,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'COLOR' AND TYPE_D = TP.PET_COLOR) AS PET_COLOR,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'COATlENGTH' AND TYPE_D = TP.PET_COATlENGTH) AS PET_COATlENGTH,
				TP.PET_CHARACTER, 
				DATE_FORMAT(TP.PET_FIND_DATE, '%Y-%m-%d') AS PET_FIND_DATE,
				DATE_FORMAT(TP.PET_FIND_DATE, '%Y-%m-%d') AS PET_LOST_DATE,
				TB.BOARD_NUM, 
				TB.BOARD_REPORT_TYPE,
				TB.MEMBER_NICKNAME,
				TB.BOARD_REPORT_TITLE,
				TB.BOARD_REPORT_READ_COUNT,
				TB.BOARD_REPORT_REPT_COUNT,
				TB.BOARD_REPORT_GOOD,
				TB.BOARD_REPORT_NOT_GOOD,
				TB.BOARD_REPORT_REG_DATE,
				TA.ATTACH_UUID, 
				TA.ATTACH_UPLOAD_PATH, 
				TA.ATTACH_NAME, 
				TA.ATTACH_TYPE
			FROM 
				BOARD_REPORT TB
			LEFT OUTER JOIN 
				PET_FIND_REPORT TP
			ON TB.REPORT_ID = TP.REPORT_ID
            LEFT OUTER JOIN 
				ATTACH_REPORT TA
			ON TB.REPORT_ID = TA.REPORT_ID
			WHERE TB.BOARD_REPORT_TYPE = 'F'
		]]>	
		
		<if test="petKind != null">
			AND PET_KIND =  #{petKind}
		</if>
		<if test="petDetailKind != null">
			AND PET_DETAIL_KIND = #{petDetailKind}
		</if>
		<if test="petGender != null">
			AND PET_GENDER =  #{petGender}
		</if>
		<if test="petSize != null">
			AND PET_SIZE = #{petSize}
		</if>
		<if test="petColor != null">
			AND PET_COLOR = #{petColor}
		</if>
		<if test="petCoatLength != null">
			AND PET_COATlENGTH = #{petCoatLength}
		</if>
		<if test='sido != null and  sido != ""'>
			AND SIDO = #{sido}
		</if>
		<if test='sigungu != null and  sigungu != "" '>
			AND SIGUNGU = #{sigungu}
		</if>
		<if test='bname != null and  bname != ""'>
			AND BNAME = #{bname}
		</if>
		<if test='startDate != null and  startDate != "" and endDate != null and  endDate != ""'>
			AND DATE(PET_FIND_DATE) BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test='startDate != null and  startDate != "" and (endDate == null or  endDate == "")'>
			AND DATE(PET_FIND_DATE) =  #{startDate}
		</if>
		<![CDATA[
			UNION ALL
			
			SELECT 
				TP.REPORT_ID, 
				TP.MEMBER_ID, 
				TP.SIDO,
				TP.SIGUNGU,
				TP.BNAME,
				TP.ADDRESS,
                (SELECT STR FROM TYPE_STR WHERE TYPE_M = 'KIND' AND TYPE_D = TP.PET_KIND) AS PET_KIND,
                (SELECT STR FROM TYPE_STR WHERE TYPE_D = TP.PET_DETAIL_KIND) AS PET_DETAIL_KIND,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'GENDER' AND TYPE_D = TP.PET_GENDER) AS PET_GENDER,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'SIZE' AND TYPE_D = TP.PET_SIZE) AS PET_SIZE,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'COLOR' AND TYPE_D = TP.PET_COLOR) AS PET_COLOR,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'COATlENGTH' AND TYPE_D = TP.PET_COATlENGTH) AS PET_COATlENGTH,
				TP.PET_CHARACTER, 
				DATE_FORMAT(TP.PET_LOST_DATE, '%Y-%m-%d') AS PET_FIND_DATE,
				DATE_FORMAT(TP.PET_LOST_DATE, '%Y-%m-%d') AS PET_LOST_DATE,
				TB.BOARD_NUM, 
				TB.BOARD_REPORT_TYPE,
				TB.MEMBER_NICKNAME,
				TB.BOARD_REPORT_TITLE,
				TB.BOARD_REPORT_READ_COUNT,
				TB.BOARD_REPORT_REPT_COUNT,
				TB.BOARD_REPORT_GOOD,
				TB.BOARD_REPORT_NOT_GOOD,
				TB.BOARD_REPORT_REG_DATE,
				TA.ATTACH_UUID, 
				TA.ATTACH_UPLOAD_PATH, 
				TA.ATTACH_NAME, 
				TA.ATTACH_TYPE
			FROM 
				BOARD_REPORT TB
			LEFT OUTER JOIN 
				PET_LOST_REPORT TP
			ON TB.REPORT_ID = TP.REPORT_ID
            LEFT OUTER JOIN 
				ATTACH_REPORT TA
			ON TB.REPORT_ID = TA.REPORT_ID
			WHERE TB.BOARD_REPORT_TYPE = 'L'
		]]>	
		
		<if test="petKind != null">
			AND PET_KIND =  #{petKind}
		</if>
		<if test="petDetailKind != null">
			AND PET_DETAIL_KIND = #{petDetailKind}
		</if>
		<if test="petGender != null">
			AND PET_GENDER =  #{petGender}
		</if>
		<if test="petSize != null">
			AND PET_SIZE = #{petSize}
		</if>
		<if test="petColor != null">
			AND PET_COLOR = #{petColor}
		</if>
		<if test="petCoatLength != null">
			AND PET_COATlENGTH = #{petCoatLength}
		</if>
		<if test='sido != null and  sido != ""'>
			AND SIDO = #{sido}
		</if>
		<if test='sigungu != null and  sigungu != ""'>
			AND SIGUNGU = #{sigungu}
		</if>
		<if test='bname != null and  bname != ""'>
			AND BNAME = #{bname}
		</if>
		<if test='startDate != null and  startDate != "" and endDate != null and  endDate != ""'>
			AND DATE(PET_LOST_DATE) BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test='startDate != null and  startDate != "" and (endDate == null or  endDate == "")'>
			AND DATE(PET_LOST_DATE) =  #{startDate}
		</if>
		) TM
			WHERE 1=1
			<if test='inlineRadioOptions != null and  inlineRadioOptions != "" '>
				AND TM.BOARD_REPORT_TYPE = #{inlineRadioOptions}
			</if>
			GROUP BY REPORT_ID
			ORDER BY PET_FIND_DATE DESC, PET_LOST_DATE DESC
			LIMIT #{startRow}, #{amount}
	</select>
	
	<select id="selectFindReport" resultMap="ReportBoardVO">
		<![CDATA[
			SELECT 
				TP.REPORT_ID, 
				TP.MEMBER_ID, 
				TP.SIDO,
				TP.SIGUNGU,
				TP.BNAME,
				TP.ADDRESS,
                (SELECT STR FROM TYPE_STR WHERE TYPE_M = 'KIND' AND TYPE_D = TP.PET_KIND) AS PET_KIND,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = TP.PET_KIND AND TYPE_D = TP.PET_DETAIL_KIND) AS PET_DETAIL_KIND,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'GENDER' AND TYPE_D = TP.PET_GENDER) AS PET_GENDER,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'SIZE' AND TYPE_D = TP.PET_SIZE) AS PET_SIZE,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'COLOR' AND TYPE_D = TP.PET_COLOR) AS PET_COLOR,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'COATlENGTH' AND TYPE_D = TP.PET_COATlENGTH) AS PET_COATlENGTH,
				TP.PET_CHARACTER, 
				DATE_FORMAT(TP.PET_FIND_DATE, '%Y-%m-%d') AS PET_FIND_DATE,
				TB.BOARD_NUM, 
				TB.BOARD_REPORT_TYPE,
				TB.MEMBER_NICKNAME,
				TB.BOARD_REPORT_TITLE,
				TB.BOARD_REPORT_READ_COUNT,
				TB.BOARD_REPORT_REPT_COUNT,
				TB.BOARD_REPORT_GOOD,
				TB.BOARD_REPORT_NOT_GOOD,
				TB.BOARD_REPORT_REG_DATE
			FROM 
				BOARD_REPORT TB
			LEFT OUTER JOIN 
				PET_FIND_REPORT TP
			ON TB.REPORT_ID = TP.REPORT_ID
			WHERE TP.REPORT_ID = #{reportId}
		]]>	
	</select>
	
	<select id="selectModifyFindReport" resultMap="ReportBoardVO">
		<![CDATA[
			SELECT 
				TP.REPORT_ID, 
				TP.MEMBER_ID, 
				TP.SIDO,
				TP.SIGUNGU,
				TP.BNAME,
				TP.ADDRESS,
                TP.PET_KIND,
				TP.PET_DETAIL_KIND,
				TP.PET_GENDER,
				TP.PET_SIZE,
				TP.PET_COLOR,
				TP.PET_COATlENGTH,
				TP.PET_CHARACTER, 
				DATE_FORMAT(TP.PET_FIND_DATE, '%Y-%m-%d') AS PET_FIND_DATE,
				TB.BOARD_NUM, 
				TB.BOARD_REPORT_TYPE,
				TB.MEMBER_NICKNAME,
				TB.BOARD_REPORT_TITLE,
				TB.BOARD_REPORT_READ_COUNT,
				TB.BOARD_REPORT_REPT_COUNT,
				TB.BOARD_REPORT_GOOD,
				TB.BOARD_REPORT_NOT_GOOD,
				TB.BOARD_REPORT_REG_DATE
			FROM 
				BOARD_REPORT TB
			LEFT OUTER JOIN 
				PET_FIND_REPORT TP
			ON TB.REPORT_ID = TP.REPORT_ID
			WHERE TP.REPORT_ID = #{reportId}
		]]>	
	</select>
	
	<select id="selectTotalCountBySearch" resultType="int">
		<![CDATA[
		
		SELECT COUNT(*)
        FROM
	        (SELECT 
					SIDO,
					SIGUNGU,
					BNAME,
					ADDRESS,
					PET_KIND,
					PET_DETAIL_KIND,
					PET_GENDER,
					PET_SIZE,
					PET_COLOR,
					PET_COATlENGTH,
					PET_CHARACTER,
					DATE_FORMAT(PET_FIND_DATE, '%Y-%m-%d') AS PET_FIND_DATE,
					DATE_FORMAT(PET_FIND_DATE, '%Y-%m-%d') AS PET_LOST_DATE
			FROM PET_FIND_REPORT
	        
	        UNION ALL 
	        
	        SELECT
	
					SIDO,
					SIGUNGU,
					BNAME,
					ADDRESS,
					PET_KIND,
					PET_DETAIL_KIND,
					PET_GENDER,
					PET_SIZE,
					PET_COLOR,
					PET_COATlENGTH,
					PET_CHARACTER,
					DATE_FORMAT(PET_LOST_DATE, '%Y-%m-%d') AS PET_FIND_DATE,
					DATE_FORMAT(PET_LOST_DATE, '%Y-%m-%d') AS PET_LOST_DATE
			FROM PET_LOST_REPORT) TM
			LEFT OUTER JOIN BOARD_REPORT TR
            ON TM.REPORT_ID = TR.REPORT_ID
		]]>
	<where>		
		<if test="petKind != null">
			AND PET_KIND =  #{petKind}
		</if>
		<if test="petDetailKind != null">
			AND PET_DETAIL_KIND LIKE #{petDetailKind}
		</if>
		<if test="petGender != null">
			AND PET_GENDER =  #{petGender}
		</if>
		<if test="petSize != null">
			AND PET_SIZE = #{petSize}
		</if>
		<if test="petColor != null">
			AND PET_COLOR = #{petColor}
		</if>
		<if test="petCoatLength != null">
			AND PET_COATlENGTH = #{petCoatLength}
		</if>
		<if test='sido != null and  sido != ""'>
			AND SIDO = #{sido}
		</if>
		<if test='sigungu != null and  sigungu != ""'>
			AND SIGUNGU = #{sigungu}
		</if>
		<if test='bname != null and  bname != ""'>
			AND BNAME = #{bname}
		</if>
		<if test='startDate != null and  startDate != ""'>
			AND DATE(PET_LOST_DATE) BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test='startDate != null and  startDate != ""'>
			AND DATE(PET_FIND_DATE) BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test='startDate != null and  startDate != "" and (endDate == null or  endDate == "")'>
			AND DATE(PET_LOST_DATE) =  #{startDate}
		</if>
		<if test='startDate != null and  startDate != "" and (endDate == null or  endDate == "")'>
			AND DATE(PET_LOST_DATE) =  #{startDate}
		</if>
		<if test='inlineRadioOptions != null and  inlineRadioOptions != "" '>
			AND BOARD_REPORT_TYPE = #{inlineRadioOptions}
		</if>
	</where>
			 
	</select>
	
	
	<insert id="insertFindReportBoard">
		<![CDATA[
			INSERT INTO BOARD_REPORT (
				REPORT_ID, 
				BOARD_NUM, 
				BOARD_REPORT_TYPE,
				MEMBER_ID,
				MEMBER_NICKNAME,
				BOARD_REPORT_TITLE,
				BOARD_REPORT_READ_COUNT,
				BOARD_REPORT_REPT_COUNT,
				BOARD_REPORT_GOOD,
				BOARD_REPORT_NOT_GOOD,
				BOARD_REPORT_REG_DATE
			)
			VALUES(
				#{reportId},
				#{boardNum},
				#{boardReportType},
				#{memberId},
				#{memberNickName},
				#{boardTitle},
				#{boardReadCount},
				#{boardReportCount},
				#{boardgood},
				#{boardNotgood},
				#{boardRegDate}
			
			)
		]]>
	</insert>
	
	<insert id="insertFindReport">
		<![CDATA[
			INSERT INTO PET_FIND_REPORT (
				REPORT_ID, 
				MEMBER_ID, 
				SIDO,
				SIGUNGU,
				BNAME,
				ADDRESS,
				PET_KIND,
				PET_DETAIL_KIND,
				PET_GENDER,
				PET_SIZE,
				PET_COLOR,
				PET_COATlENGTH,
				PET_CHARACTER,
				PET_FIND_DATE
			)
			VALUES(
				#{reportId},
				#{memberId},
				#{sido},
				#{sigungu},
				#{bname},
				#{address},
				#{petKind},
				#{petDetailKind},
				#{petGender},
				#{petSize},
				#{petColor},
				#{petCoatLength},
				#{petCharacter},
				#{findPetDate}
			)
		]]>
	</insert>
	
	<update id="updateFindReportBoard">
		<![CDATA[
			UPDATE BOARD_REPORT 
			SET BOARD_REPORT_TITLE = #{boardTitle}
			WHERE REPORT_ID = #{reportId}
		]]>
	</update>
	
	<update id="updateFindReport">
		<![CDATA[
			UPDATE PET_FIND_REPORT 
			SET 
				SIDO				= #{sido},
				SIGUNGU				= #{sigungu},
				BNAME				= #{bname},
				ADDRESS				= #{address},
				PET_KIND			= #{petKind},
				PET_DETAIL_KIND		= #{petDetailKind},
				PET_GENDER			= #{petGender},
				PET_SIZE			= #{petSize},
				PET_COLOR			= #{petColor},
				PET_COATlENGTH		= #{petCoatLength},
				PET_CHARACTER		= #{petCharacter},
				PET_FIND_DATE		= #{findPetDate}
				
			WHERE REPORT_ID = #{reportId};
		]]>
	</update>
	
	<update id="updateReportReadCunt">
		<![CDATA[
			UPDATE BOARD_REPORT 
			SET BOARD_REPORT_READ_COUNT = BOARD_REPORT_READ_COUNT + 1
			WHERE REPORT_ID = #{reportId}
		]]>
	</update>
	
	<delete id="deleteFindReportBoard">
		<![CDATA[
			DELETE 
			FROM BOARD_REPORT 
			WHERE REPORT_ID = #{reportId};
		]]>
	</delete>
	
	<delete id="deleteFindReport">
		<![CDATA[
			DELETE 
			FROM PET_FIND_REPORT 
			WHERE REPORT_ID = #{reportId};
		]]>
	</delete>
	
	
</mapper>