<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.petFinder.mapper.PetLostMapper">
	<resultMap type="AttachVO" id="attachVO">
		<result column="ATTACH_UUID"			property="uuid"/>
		<result column="ATTACH_UPLOAD_PATH" 	property="uploadpath"/>
		<result column="ATTACH_NAME" 			property="filename"/>
		<result column="ATTACH_TYPE" 			property="filetype"/>
		<result column="REPORT_ID" 				property="reportId"/>
	</resultMap>

	<resultMap type="PetVO" id="petVO">
		<result column="REPORT_ID"				property="reportId"/>
		<result column="PET_REGISTER_NUMBER" 	property="petRegisterNumber"/>
		<result column="MEMBER_ID" 				property="memberId"/>
		<result column="SIDO" 					property="sido"/>
		<result column="SIGUNGU" 				property="sigungu"/>
		<result column="BNAME" 					property="bname"/>
		<result column="ADDRESS" 				property="address"/>
		<result column="PET_NAME" 				property="petName"/>
		<result column="PET_KIND" 				property="petKind"/>
		<result column="PET_DETAIL_KIND" 		property="petDetailKind"/>
		<result column="PET_GENDER" 			property="petGender"/>
		<result column="PET_SIZE" 				property="petSize"/>
		<result column="PET_COLOR" 				property="petColor"/>
		<result column="PET_COATlENGTH" 		property="petCoatLength"/>
		<result column="PET_CHARACTER" 			property="petCharacter"/>
		<result column="PET_FIND_DATE" 			property="findPetDate"/>
		<result column="PET_LOST_DATE" 			property="lostPetDate"/>
		
		
		
		<collection property="attachList" resultMap="attachVO"/>
	</resultMap>
	
	<resultMap type="ReportBoardVO" id="ReportBoardVO">
		<result column="REPORT_ID"					property="reportId"/>
		<result column="BOARD_NUM" 					property="boardNum"/>
		<result column="BOARD_REPORT_TYPE" 			property="boardReportType"/>
		<result column="MEMBER_ID" 					property="memberId"/>
		<result column="MEMBER_NICKNAME" 			property="memberNickName"/>
		<result column="BOARD_REPORT_TITLE" 		property="boardTitle"/>
		<result column="BOARD_REPORT_READCOUNT" 	property="boardReadCount"/>
		<result column="BOARD_REPORT_READ_COUNT" 	property="boardReportCount"/>
		<result column="BOARD_REPORT_GOOD" 			property="boardgood"/>
		<result column="BOARD_REPORT_NOT_GOOD" 		property="boardNotgood"/>
		<result column="BOARD_REPORT_REG_DATE" 		property="boardRegDate"/>
		
		<collection property="petVO" resultMap="petVO"/>
	</resultMap>
	
	<select id="selectAllLostReport" resultMap="ReportBoardVO">
		<![CDATA[
			SELECT 
				TP.REPORT_ID, 
				TP.MEMBER_ID, 
				TP.SIDO,
				TP.SIGUNGU,
				TP.BNAME,
				TP.ADDRESS,
				TP.PET_REGISTER_NUMBER,
				TP.PET_NAME,
                (SELECT STR FROM TYPE_STR WHERE TYPE_M = 'KIND' AND TYPE_D = TP.PET_KIND) AS PET_KIND,
				TP.PET_DETAIL_KIND,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'GENDER' AND TYPE_D = TP.PET_GENDER) AS PET_GENDER,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'SIZE' AND TYPE_D = TP.PET_SIZE) AS PET_SIZE,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'COLOR' AND TYPE_D = TP.PET_COLOR) AS PET_COLOR,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'COATlENGTH' AND TYPE_D = TP.PET_COATlENGTH) AS PET_COATlENGTH,
				TP.PET_CHARACTER, 
				DATE_FORMAT(TP.PET_LOST_DATE, '%y-%m-%d') AS PET_LOST_DATE,
				TB.BOARD_NUM, 
				TB.BOARD_REPORT_TYPE,
				TB.MEMBER_NICKNAME,
				TB.BOARD_REPORT_TITLE,
				TB.BOARD_REPORT_READ_COUNT,
				TB.BOARD_REPORT_REPT_COUNT,
				TB.BOARD_REPORT_GOOD,
				TB.BOARD_REPORT_NOT_GOOD,
				TB.BOARD_REPORT_REG_DATE,
				TA.ATTACH_UUID, 
				TA.ATTACH_UPLOAD_PATH, 
				TA.ATTACH_NAME, 
				TA.ATTACH_TYPE
			FROM 
				BOARD_REPORT TB
			LEFT OUTER JOIN 
				PET_LOST_REPORT TP
			ON TB.REPORT_ID = TP.REPORT_ID
            LEFT OUTER JOIN 
				ATTACH_REPORT TA
			ON TB.REPORT_ID = TA.REPORT_ID
			WHERE TB.BOARD_REPORT_TYPE = 'L'
		]]>	
	</select>
	
	<select id="selectLostReport" resultMap="ReportBoardVO">
		<![CDATA[
			SELECT 
				TP.REPORT_ID, 
				TP.MEMBER_ID, 
				TP.SIDO,
				TP.SIGUNGU,
				TP.BNAME,
				TP.ADDRESS,
				TP.PET_REGISTER_NUMBER,
				TP.PET_NAME,
                (SELECT STR FROM TYPE_STR WHERE TYPE_M = 'KIND' AND TYPE_D = TP.PET_KIND) AS PET_KIND,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = TP.PET_KIND AND TYPE_D = TP.PET_DETAIL_KIND) AS PET_DETAIL_KIND,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'GENDER' AND TYPE_D = TP.PET_GENDER) AS PET_GENDER,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'SIZE' AND TYPE_D = TP.PET_SIZE) AS PET_SIZE,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'COLOR' AND TYPE_D = TP.PET_COLOR) AS PET_COLOR,
				(SELECT STR FROM TYPE_STR WHERE TYPE_M = 'COATlENGTH' AND TYPE_D = TP.PET_COATlENGTH) AS PET_COATlENGTH,
				TP.PET_CHARACTER, 
				DATE_FORMAT(TP.PET_LOST_DATE, '%Y-%m-%d') AS PET_LOST_DATE,
				TB.BOARD_NUM, 
				TB.BOARD_REPORT_TYPE,
				TB.MEMBER_NICKNAME,
				TB.BOARD_REPORT_TITLE,
				TB.BOARD_REPORT_READ_COUNT,
				TB.BOARD_REPORT_REPT_COUNT,
				TB.BOARD_REPORT_GOOD,
				TB.BOARD_REPORT_NOT_GOOD,
				TB.BOARD_REPORT_REG_DATE
			FROM 
				BOARD_REPORT TB
			LEFT OUTER JOIN 
				PET_LOST_REPORT TP
			ON TB.REPORT_ID = TP.REPORT_ID
			WHERE TP.REPORT_ID = #{reportId}
		]]>	
	</select>
	
	<select id="selectModifyLostReport" resultMap="ReportBoardVO">
		<![CDATA[
			SELECT 
				TP.REPORT_ID, 
				TP.MEMBER_ID, 
				TP.SIDO,
				TP.SIGUNGU,
				TP.BNAME,
				TP.ADDRESS,
				TP.PET_REGISTER_NUMBER,
				TP.PET_NAME,
                TP.PET_KIND,
				TP.PET_DETAIL_KIND,
				TP.PET_GENDER,
				TP.PET_SIZE,
				TP.PET_COLOR,
				TP.PET_COATlENGTH,
				TP.PET_CHARACTER, 
				DATE_FORMAT(TP.PET_LOST_DATE, '%Y-%m-%d') AS PET_LOST_DATE,
				TB.BOARD_NUM, 
				TB.BOARD_REPORT_TYPE,
				TB.MEMBER_NICKNAME,
				TB.BOARD_REPORT_TITLE,
				TB.BOARD_REPORT_READ_COUNT,
				TB.BOARD_REPORT_REPT_COUNT,
				TB.BOARD_REPORT_GOOD,
				TB.BOARD_REPORT_NOT_GOOD,
				TB.BOARD_REPORT_REG_DATE
			FROM 
				BOARD_REPORT TB
			LEFT OUTER JOIN 
				PET_LOST_REPORT TP
			ON TB.REPORT_ID = TP.REPORT_ID
			WHERE TP.REPORT_ID = #{reportId}
		]]>	
	</select>
	
	<insert id="insertLostReport">
		<![CDATA[
			INSERT INTO PET_LOST_REPORT (
				REPORT_ID, 
				PET_REGISTER_NUMBER,
				MEMBER_ID, 
				SIDO,
				SIGUNGU,
				BNAME,
				ADDRESS,
				PET_NAME,
				PET_KIND,
				PET_DETAIL_KIND,
				PET_GENDER,
				PET_SIZE,
				PET_COLOR,
				PET_COATlENGTH,
				PET_CHARACTER,
				PET_LOST_DATE
			)
			VALUES(
				#{reportId},
				#{petRegisterNumber},
				#{memberId},
				#{sido},
				#{sigungu},
				#{bname},
				#{address},
				#{petName},
				#{petKind},
				#{petDetailKind},
				#{petGender},
				#{petSize},
				#{petColor},
				#{petCoatLength},
				#{petCharacter},
				#{lostPetDate}
			)
		]]>
	</insert>
	
	<update id="updateLostReport">
		<![CDATA[
			UPDATE PET_LOST_REPORT 
			SET 
				PET_REGISTER_NUMBER	= #{petRegisterNumber},
				SIDO				= #{sido},
				SIGUNGU				= #{sigungu},
				BNAME				= #{bname},
				ADDRESS				= #{address},
				PET_NAME			= #{petName},
				PET_KIND			= #{petKind},
				PET_DETAIL_KIND		= #{petDetailKind},
				PET_GENDER			= #{petGender},
				PET_SIZE			= #{petSize},
				PET_COLOR			= #{petColor},
				PET_COATlENGTH		= #{petCoatLength},
				PET_CHARACTER		= #{petCharacter},
				PET_LOST_DATE		= #{lostPetDate}
				
			WHERE REPORT_ID = #{reportId};
		]]>
	</update>
	
	<delete id="deleteLostReport">
		<![CDATA[
			DELETE 
			FROM PET_LOST_REPORT 
			WHERE REPORT_ID = #{reportId};
		]]>
	</delete>
	
</mapper>