<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.petFinder.mapper.ProfilePicMapper">

	<resultMap type="MemberProfileVO" id="MemberProfileVO">
		<result column="PROPIC_UUID"			property="uuid"/>
		<result column="MEMBER_ID" 				property="memberId"/>
		<result column="PROPIC_UPLOAD_PATH" 	property="uploadpath"/>
		<result column="PROPIC_FILENAME" 		property="filename"/>
	</resultMap>
	
	<select id="selectProfilePic" resultMap="MemberProfileVO">
		<![CDATA[
			SELECT 
				PROPIC_UUID,
				MEMBER_ID,
				PROPIC_UPLOAD_PATH,
				PROPIC_FILENAME
			FROM 
				PROPIC 
			WHERE MEMBER_ID = #{memberId}
		]]>	
	</select>


	<insert id="insertProfilePic">
		<![CDATA[
			INSERT INTO PROPIC (
					PROPIC_UUID,
					MEMBER_ID,
					PROPIC_UPLOAD_PATH,
					PROPIC_FILENAME
				)
				VALUES(
					#{uuid},
					#{memberId},
					#{uploadpath},
					#{filename}			
				)
		]]>
	</insert>
	
	<update id="updateProfilePic">
		<![CDATA[
			UPDATE PROPIC 
			SET 
				PROPIC_UUID			= #{uuid},
				PROPIC_UPLOAD_PATH	= #{uploadpath},
				PROPIC_FILENAME		= #{filename}	
				
			WHERE MEMBER_ID	= #{memberId}
		]]>
	</update>
	
	<delete id = "deleteProfilePic">
		DELETE FROM PROPIC WHERE MEMBER_ID = #{memberId}
	</delete>
	
	
	
</mapper>