<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.petFinder.mapper.ReportAttachMapper">
	<resultMap type="AttachVO" id="AttachVO">
		<result column="ATTACH_UUID"			property="uuid"/>
		<result column="ATTACH_UPLOAD_PATH" 	property="uploadpath"/>
		<result column="ATTACH_NAME" 			property="filename"/>
		<result column="ATTACH_TYPE" 			property="filetype"/>
		<result column="REPORT_ID" 				property="reportId"/>
	</resultMap>
	
	<select id="selectAllReportAttach" resultType="AttachVO">
		<![CDATA[
   			SELECT *
			FROM ATTACH_REPORT 
		]]>	
	</select>
	
	<select id="selectByIdReportAttach" resultMap="AttachVO">
		<![CDATA[
   			SELECT *
			FROM ATTACH_REPORT 
			WHERE REPORT_ID = #{reportId}
		]]>	
	</select>
	
	<select id="getAttachesByUuids" resultMap="AttachVO">
		SELECT * 
		FROM ATTACH_REPORT
		WHERE ATTACH_UUID IN 
		<foreach collection="list" item="uuid" open="(" separator="," close=")">
			#{uuid}
		</foreach>
	</select>
	
	<insert id="insertReportAttach">
		<![CDATA[
			INSERT INTO ATTACH_REPORT (
				ATTACH_UUID, 
				ATTACH_UPLOAD_PATH, 
				ATTACH_NAME, 
				ATTACH_TYPE, 
				REPORT_ID
			)
			VALUES
		]]>
		<foreach collection="list" item="attach" separator=",">
			(
				 #{attach.uuid},
				 #{attach.uploadpath},
				 #{attach.filename},
				 #{attach.filetype}, 
				 #{attach.reportId}
			  )
		</foreach>
	</insert>
	
	<update id="updateFindReport">
		<![CDATA[
			UPDATE ATTACH_REPORT 
			SET 
		]]>
			<foreach collection="list" item="attach" separator=",">
				ATTACH_UUID			= #{attach.uuid},
				ATTACH_UPLOAD_PATH 	= #{attach.uploadpath},
				ATTACH_NAME			= #{attach.filename},
				ATTACH_TYPE			= #{attach.filetype},
				REPORT_ID			= #{attach.reportId}
			</foreach>	
		<![CDATA[
			WHERE REPORT_ID = #{reportId};
		]]>
	</update>
	
	<delete id="deleteFindReport">
		<![CDATA[
			DELETE 
			FROM ATTACH_REPORT 
			WHERE REPORT_ID = #{reportId};
		]]>
	</delete>
	
	<delete id="deleteModifyFindReport">
		<![CDATA[
			DELETE 
			FROM ATTACH_REPORT 
			WHERE ATTACH_UUID IN 
		]]>
		<foreach collection="list" item="uuid" open="(" separator="," close=")">
			#{uuid}
		</foreach>
	</delete>

	
</mapper>