<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.petFinder.mapper.ReportAttachMapper">

	<insert id="insertReportAttach">
		<![CDATA[
			INSERT INTO ATTACH_REPORT (
				ATTACH_UUID, 
				ATTACH_UPLOAD_PATH, 
				ATTACH_NAME, 
				ATTACH_TYPE, 
				REPORT_ID
			)
			VALUES
		]]>
		<foreach collection="list" item="attach" separator=",">
			(
				 #{attach.uuid},
				 #{attach.uploadpath},
				 #{attach.filename},
				 #{attach.filetype}, 
				 #{attach.boardOrReportId}
			  )
		</foreach>
	</insert>
	
	<select id="selectAllReportAttach" resultType="AttachVO">
		<![CDATA[
   			SELECT *
			FROM ATTACH_REPORT 
		]]>	
	</select>
	
		<select id="selectByIdReportAttach" resultType="AttachVO">
		<![CDATA[
   			SELECT *
			FROM ATTACH_REPORT 
			WHERE REPORT_ID = #{boardOrReportId}
		]]>	
	</select>
		
	
</mapper>