<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.petFinder.mapper.RestAdopCommMapper">
	<resultMap type="RestAdopCommVO" id="RestAdopCommVO">
      <result column="NUM"           property="num"/>
      <result column="BOARD_ID"      property="boardId"/>
      <result column="MEMBER_ID"     property="memberId"/>
      <result column="GOOD_OR_NOT"   property="goodOrNot"/>
      <result column="GOOD"          property="good"/>
      <result column="NOT_GOOD"      property="notGood"/>
      <result column="WARING"        property="waring"/>    
   </resultMap>
   
	<!-- 게시글 번호 생성 -->
	<select id="selectNextNumber" resultType="int">
		<![CDATA[
      	 SELECT IFNULL(MAX(NUM), 0)+1 AS NUM 
         FROM BOARD_COM_CONFIG;
		]]>
	</select>
	
	<!-- Merge : Key 에 해당하는 데이터가 없으면 Insert.  있으면 Update 하는 기능 -->
	<insert id = "updateadopCommBoardCheck">
	<![CDATA[
	INSERT INTO board_com_config(
		NUM,
		BOARD_ID,
		MEMBER_ID,
		GOOD_OR_NOT,
	    WARING
	)VALUES(
		#{num},		
		#{boardId},
		#{memberId},
		#{goodOrNot},
		#{waring}
		)
	ON DUPLICATE KEY UPDATE
		GOOD_OR_NOT = #{goodOrNot},
		WARING = #{waring}
	]]>	
	</insert>
	
	<!-- SELECT - 추천 비추천 각각 갯수 -->
	<select id="selectTotalCount" resultMap="RestAdopCommVO">
		<![CDATA[
			SELECT 
			(SELECT COUNT(GOOD_OR_NOT) FROM BOARD_COM_CONFIG WHERE GOOD_OR_NOT = 'Y' AND BOARD_ID = #{boardId}) AS GOOD,
			(SELECT COUNT(GOOD_OR_NOT) FROM BOARD_COM_CONFIG WHERE GOOD_OR_NOT = 'N' AND BOARD_ID = #{boardId}) AS NOT_GOOD,
			(SELECT COUNT(GOOD_OR_NOT) FROM BOARD_COM_CONFIG WHERE MEMBER_ID  = #{memberId} AND BOARD_ID = #{boardId}) AS GOOD_OR_NOT
			FROM DUAL ;
		]]>
	</select>
	
	<!-- SELECT - 추천 비추천 유무 -->
	<select id="selectCheck" resultType="int">
		<![CDATA[
		   	 SELECT COUNT(*)
			 FROM BOARD_COM_CONFIG
			 WHERE 
			 	BOARD_ID 		= #{boardId} 
			 	AND MEMBER_ID 	= #{memberId}
		]]>
	</select>
	
	<delete id="deleteCommBoard">
		<![CDATA[
			DELETE 
			FROM BOARD_COM_CONFIG 
			WHERE 
			 	BOARD_ID 		= #{boardId} 
			 	AND MEMBER_ID 	= #{memberId}
		]]>
	</delete>
	
  
</mapper>