<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- DB에서 데이터 조회 또는 사입 등에서 null일 경우 null값 허용 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		
		<setting name="callSettersOnNulls" value="true"/>
	
	    <!-- 동일한 select문이 또 요청되면 기존 내용 캐시된 내용으로 가져온다. 속도향상 -->
		<setting name="cacheEnabled" value="true"/>
		
		<!-- 테이블의 컬럼명과 Vo객체의 setter명 연결 규칙 설명 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="com.petFinder.domain"/>
	</typeAliases>
</configuration>